body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.streemly-red {
  background-color: white;
  border-bottom: 3px solid #A69300;

}
.streemly-red2 a {
  background-color: white;
  color: #A69300;
  text-decoration: none;
}

.streemly-red2 a:hover {
  background-color: #A69300;
  color: white;
  text-decoration: none;
}

.streemly-red-button {
    background-color: #A69300;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}